body {
  font-family: "Roboto", sans-serif;
  background-color: #cbebfd;
}

/* navbar */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
  width: 100vw;
  background-color: #71beea;
  color: white;
  font-weight: bold;
}

.navbar-icon {
  height: 50px;
  justify-content: right;
  margin-left: 20px;
}

.navbar-header {
  font-size: 50px;
  margin-left: 20px;
}

/* landing page */

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing h1 {
  font-weight: bolder;
  text-align: center;
}

/* search bar */

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-form {
  justify-content: center;
  display: flex;
  font-size: 20px;
}

.search-bar {
  width: 500px;
}

.search-category {
  width: 100px;
}

/* buttons */

.search-button,
.filter-button,
.sort-button,
.modal-button {
  width: 100px;
  margin-left: 10px;
}

.filter-button:disabled,
.search-button:disabled {
  opacity: 0.5;
}

/* search results */

hr {
  display: block;
  position: relative;
  width: 100%;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #ffffff;
}

.search-results {
  display: flex;
  flex-direction: column;
  height: 65vh;
  align-items: center;
}

.result-list {
  display: flex;
  flex-direction: row;
}

.results {
  display: flex;
  flex-direction: column;
}

.results-subtitle {
  margin-bottom: 0px;
  text-align: center;
  font-weight: bold;
}

.scroll-element {
  overflow: auto;
  margin-right: 10px;
}

.list-title {
  font-size: 20px;
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.list-detail {
  font-size: 16px;
}

/* refine results */

.refine-results {
  margin-left: 10px;
  width: 500px;
}

.filter-form,
.sort-form {
  display: flex;
  font-size: 16px;
}

.refine-label {
  align-self: center;
  margin: 0px;
  margin-right: 10px;
}

.filter-category,
.sort-category {
  width: 175px;
}

.refine-step {
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 10px;
}

.refine-step h3 {
  margin-top: 0px;
  font-weight: bolder;
}

.selection-box {
  display: flex;
  flex-direction: row;
  flex-flow: row-reverse wrap-reverse;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
}

.remove-refinement {
  font-weight: bold;
}

/* single book modal */

.single-book-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25%;
  left: 32%;
  width: 35vw;
  height: 50vh;
  padding: 10px;
  margin: 5px;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  outline: 0;
}

.unavailable-message {
  font-size: 20px;
  text-align: center;
}

.detail-page {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px;
}

.book-description {
  font-size: 16px;
  margin-right: 10px;
  width: 300px;
}

.cover-image {
  margin-left: 10px;
  max-width: 175px;
}

.image-unavailable {
  display: inline-block;
  text-align: center;
}

/* adjustments for tablet view */

@media (max-width: 1050px) {
  .search-bar {
    width: 400px;
  }

  .search-results {
    height: 100vh;
  }

  .result-list {
    display: flex;
    flex-direction: column;
  }

  .single-book-modal {
    width: 80vw;
    left: 9%;
  }
}

/* adjustments for mobile device */

@media (max-width: 425px) {
  .search-form {
    flex-direction: column;
  }
  .search-bar {
    width: 300px;
    margin-bottom: 5px;
  }

  .search-category {
    margin-bottom: 5px;
    align-self: center;
  }

  .search-button {
    width: 100px;
    margin-left: 0px;
    align-self: center;
  }

  .search-results {
    height: 130vh;
    width: 95vw;
  }

  .scroll-element {
    margin-right: 0px;
  }

  .refine-results {
    width: 95vw;
    margin-left: 0px;
  }

  .filter-form,
  .sort-form {
    display: flex;
    flex-direction: column;
  }

  .single-book-modal {
    width: 90vw;
    height: 90vh;
    top: 5%;
    left: 3%;
  }

  .detail-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cover-image{
    align-self: center;
  }
}
